[submodule "src/third_party/curl"]
	path = src/third_party/curl
	url = https://github.com/curl/curl.git
[submodule "src/third_party/zlib"]
	path = src/third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "src/third_party/psl"]
	path = src/third_party/psl
	url = https://github.com/rockdaboot/libpsl.git
[submodule "src/third_party/openssl"]
	path = src/third_party/openssl
	url = https://github.com/openssl/openssl.git
